@{
    ViewData["Title"] = "Home Page";
}

<header class="masthead" style="width:100%">
    <div class="container">
        <div class="masthead-heading text-uppercase txtColor">BAYRAKTAR ELEKTRİK</div>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="tel:+905551746664"><i class="fa fa-phone mr-2"></i>Bize Ulaşın</a>
    </div>
</header>
<section class="page-section" id="hakkimizda">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">HAKKIMIZDA</h2>
            <h3 class="section-subheading text-muted">İstekleriniz doğrultusunda özveri ve titizlikle..</h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="~/assets/img/about/babam.PNG"  alt="" /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="subheading">İrfan Bayraktar</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">30 yıldır elektrik ustasıyım.<br/>Temiz ve garantili iş yaparak müşteri memnuniyetini ön planda tutuyorum.</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <a href="#contact" class="txtColor"><h4>Şimdi <br />İletişime <br />Geç!</h4></a>
                </div>
            </li>
        </ul>
    </div>
</section>
<section class="page-section" id="islerimiz">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">İşlerimiz</h2>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="~/assets/img/about/tadilatt.PNG" alt="" /></div>
                <h4 class="my-3">ELEKTRİK TADİLAT, TAMİRAT ve ARIZA İŞLERİ</h4>
            </div>
            <div class="col-md-4">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="~/assets/img/about/yenidiafon.PNG" alt="" /></div>
                <h4 class="my-3">GÖRÜNTÜLÜ ve GÖRÜNTÜSÜZ DİYAFON İŞLERİ </h4>
            </div>
            <div class="col-md-4">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="~/assets/img/about/led.PNG" alt="" /></div>
                <h4 class="my-3">HER TÜRLÜ AYDINLATMA LED İŞLERİ </h4>
            </div>
            <div class="col-md-4 mt-5">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="~/assets/img/about/uydu.PNG" alt="" /></div>
                <h4 class="my-3">MERKEZİ ve ŞAHSİ UYDU SİSTEMLERİ</h4>
            </div>
            <div class="col-md-4 mt-5">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="~/assets/img/about/network.PNG" alt="" /></div>
                <h4 class="my-3">BİLGİSAYAR NETWORK AĞLARI</h4>
            </div>
            <div class="col-md-4 mt-5">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="~/assets/img/about/kamera.PNG" alt="" /></div>
                <h4 class="my-3">ANALOG HD ve IP KAMERA SİSTEMLERİ </h4>
            </div>
            <div class="col-md-4 mt-5">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="~/assets/img/about/skapı.PNG" alt="" /></div>
                <h4 class="my-3">ŞİFRELİ KAPI SİSTEMLERİ </h4>
            </div>
            <div class="col-md-4 mt-5">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="~/assets/img/about/yfire.PNG" alt="" /></div>
                <h4 class="my-3">YANGIN ALARM SİSTEMLERİ</h4>
            </div>
            <div class="col-md-4 mt-5">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="~/assets/img/about/yenitava.PNG" alt="" /></div>
                <h4 class="my-3">ELEKTRİK TAVA DÖŞEME İŞLEMLERİ</h4>
            </div>
        </div>
    </div>
</section>
<section class="page-section" id="contact">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">İletişim</h2>
            <h5 class="txtColor  txtStil"><a href="tel:+905551746664">Telefon: 555 111 66 77</a></h5>
            <h5 class="txtColor  txtStil">E-Mail: bayraktar.irfann@gmail.com</h5>
        </div>
    </div>
</section>
